.menu {
    background-color: black;
    height: 8vh;
    text-align: center;
}

.games-container {
    height: 92vh;
    background-image: linear-gradient(45deg, #002503 , #002f5c)
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 40px;
    line-height: 8vh;
    margin: 0 30px;
    display: inline-block;
    transition: 0.2s;
}

.menu-item:hover {
    transform: scale(1.1);
    text-shadow: 0 0 5px #00a80d;
}

.game-items {
    display: block;
    height: 100%;
    width: fit-content;
    margin: auto;
    padding-top: 40px
}

.game-item {
    width: 400px;
    height: 600px;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style-type: none;
    margin: 20px;
    box-shadow: 0 5px 20px black;
    border-radius: 20px;
    filter: brightness(0.4) opacity(.5);
    transition: 0.5s;
}

.game-item:hover {
    filter: none;
    transform: scale(1.02)
}

.item1 {
    background-image: url("../img/gorilla-tag.jpg");
}

.item2 {
    background-image: url("../img/9bd8f03a518ee5a74e2b490088223f2e.jpg");
}

.item3 {
    background-image: url("../img/MCraft.PNG");
}

.item4 {
    background-image: url("../img/Rocket league.jpg");
}