.main-container {
    background-image: linear-gradient( 45deg, #002503, #002f5c);
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.main-header {
    font-size: 100px;
    color: #cacaca;
    font-weight: bold;
    transform: translateY(300px);
}

.main-btn {
    display: inline-block;
    transform: translateY(400px);
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.main-btn:hover {
    transform: scale(2) translateY(200px);
    transition: .2s;
    animation-name: pulsar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.my {
    animation-name: wave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-timing-function: ease-in-out;
}

.games {
    animation-name: wave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
}

.hub {
    animation-name: wave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: inline-block;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 10px #8eeffe;
    }
    50% {
        box-shadow: 0 0 50px #8eeffe;
    }
    100% {
        box-shadow: 0 0 10px #8eeffe;
    }
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}