.main-container {
    background-image: linear-gradient( 45deg, #002503, #002f5c);
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.main-header {
    font-size: 100px;
    color: #cacaca;
    font-weight: bold;
    transform: translateY(300px);
}

.main-btn {
    display: inline-block;
    transform: translateY(400px);
    width: 42px;
    height: 42px;
    border-radius: 50%;

}

.main-btn:hover {
    transform: scale(2) translateY(200px);
    transition: .2s;
    box-shadow: 0 0 10px #8eeffe;
}